.user-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #dddddd;
}

.user-check > p {
    margin-right: -13px;
    margin-bottom: 1px;
}

.user-title {
    background-color: #eeeeee;
}

App {
    padding: 20px !important;
}